---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
import preview from "../../public/img/preview.webp"

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Larry Jason TUENO" />
    <meta
      property="og:image"
      content="../../public/img/preview.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title> Portfolio | Larry Jason TUENO</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
